.head {
  color: purple;
  font-size: 50;
}

.title {
  font-family: 'Source Code Pro', monospace;
  text-align: center;
}

.text {
  font-family: 'Source Code Pro', monospace;
  text-align: center;
}

.main {
  color: red;
  font-size: 20;
}

.timercont {
  text-align: center;
  color: yellow;
  font-size: 40;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  background-color: black;
}
